@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900i');;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 15px;
}
input[type=text] {
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-position: 130px -45px; 
  background-repeat: no-repeat;
  font-style: italic;
}
.box-outer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-text{
  display: flex;
  flex-direction: column;
}
.title{
  font-size: 1.4rem;
  margin-top: 10px;
}
.box-sleeve{
  margin-left: 15px;
  margin-top: -0px;
}
img.sleeve{
  height: 95px;
  width: 95px;
}

.album{
  font-size: 1rem;
  margin-bottom: 10px;
}
.format{
  font-size: .7rem;
  color:#333;
  background-color: cornflowerblue;
  padding: 3px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.streams p{
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.streams a{
  font-size: .8rem;
  padding: 2px;
  color: white;
}
a.spotify{
  background-color: rgba(255,0,0,.5);
}
a.apple{
  background-color: rgba(50,255,0,.5);
}
a.amazon{
  background-color: rgba(0,100,255,.7);;
}
